body {
    margin: 0;
}

.container {
    background-color: lightskyblue;
}

.container > div {
    background-color: lightcyan;
    max-width: 960px;
    margin: auto;
}

.container > .column > div {
    padding: 16px;
}

/* Layout */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    justify-content: center;
}

.cross-align-center {
    align-items: center;
}

.cross-align-stretch {
    align-items: stretch;
}

.gap-small {
    gap: 8px;
}

.gap-medium {
    gap: 16px;
}

.gap-big {
    gap: 24px;
}

/* Text */
* {
    font-family: Arial, sans-serif;
}

p {
    font-family: "Trebuchet MS";
    line-height: 1.5;
    text-align: justify;
}

h1, h2, .subtitle {
    text-align: center;
}

h1, h2, h3, .subtitle {
    margin: 0;
}

.subtitle {
    font-size: 1.2em
}

.about {
    text-indent: 2em;
}

.project-description {
    margin: 0;
}

/* Header and footer */
header, footer {
    background: powderblue;
    padding: 32px;
}

/* Decorated widgets */
.chip {
    background: skyblue;
    border: 1px solid skyblue;
    border-radius: 8px;
    flex: 0 1 auto;
    padding: 4px 8px;
}

.chip > p {
    margin: 0;
}

a.contact {
    border: 1px solid skyblue;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    background: white;
    color: black;
    padding: 16px;
    text-decoration: none;
}

a.contact p {
    margin: 0;
}

button.download {
    border: 2px solid gray;
    border-radius: 16px;
    padding: 8px 16px;
}

button.download:hover {
    background: lightgray;
    border-color: darkslategray;
    color: darkslategray;
}

button.project-link {
    align-self: start;
    background: lightgreen;
    border: 2px solid green;
    border-radius: 16px;
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 8px;
    padding: 16px;
}

button.project-link:hover {
    background: lawngreen;
    border-color: darkgreen;
    color: darkgreen;
}

button.project-link p {
    margin: 0;
}

.project-item {
    display: flex;
    border: 1px solid skyblue;
    border-radius: 16px;
    gap: 16px;
}

@media (max-width: 600px) {
    .project-item {
        flex-direction: column;
    }
}

.project-item > * {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    padding: 16px;
}

img.project-image {
    border-radius: 16px;
    max-width: 100%;
    width: auto;
    max-height: 16em;
}

.project-image-container {
    background: skyblue;
    border-radius: 16px;
}